@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@plugin "flowbite/plugin";
@source "node_modules/flowbite";
@theme {
    --shadow-up-xl: 0 -10px 20px #00000040;
    --color-header: #ECC6CA;
    --color-dark-theme: #995D71;
    --color-light-theme: #D296AA;
    --font-noto-sans: "Noto Sans TC";
}