@import "tailwindcss";
@source "../node_modules/flowbite-datepicker";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title {
    background-color: pink;
    color: #552222;
    padding: 20px;
    width: 100%;
    font-size: 20px;
}

.form-group {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    justify-content: center; /* 水平置中 */
}
label {
    color: #636466;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
    text-align: center;
}
input[type="file"],
select,
textarea {
    width: 200px;
}

#submitBtn {
    background-color: #916070;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

#getLocationBtn {
    background-color: #916070;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dropdownInformationButton {
    min-width: 200px; 
    text-align: left; 
}

#food-name {
    min-width: 200px; 
    text-align: left; 
}

#quantity {
    min-width: 200px; 
    text-align: left; 
}

#datepicker-actions {
    min-width: 200px; 
    max-width: 200px;
    text-align: left; 
}

#address {
    min-width: 200px; 
    text-align: left; 
}

#description {
    min-width: 200px; 
    text-align: left; 
}

#food-image {
    min-width: 200px; 
    max-width: 200px;
    text-align: left; 
}

#search-container {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
}

#map {
    height: 100%;
}